<% content_for :title do %>
  <h1><%= link_to "My Albums", albums_path %></h1>
  <% if @image.album.present? %>
    &rarr;
    <%= link_to @image.album.title, album_images_path(@image.album) %>
  <% end %>
<% end %>

<h2><%= @image.image.name %></h2>

<div class="show-image" data-image-id="<%= @image.id %>">
  <div class="image-container">
    <%= render "image", image: @image %>
  </div>

  <%= render "info", image: @image %>
</div>
