<% content_for :title do %>
  <h1>My Images</h1>
  &rarr;
  <%= @image.image.name %>
<% end %>

<div class="show-image">
  <div class="image-container">
    <%= render "image", image: @image %>
  </div>

  <div class="image-info">
    <%= render "tags/tags", image: @image, tags: @image.tags %>

    <div class="new-tag-form">
      <%= form_tag user_image_tags_path(@image), remote: true, method: :post do %>
        <%= text_field_tag :tag %>
        <%= submit_tag "Add Tag" %>
      <% end %>
    </div>
  </div>
</div>
