<!DOCTYPE html>
<html>
<head>
  <title>My Images</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="container">
      <% if @current_user %>
        Signed in as: <%= @current_user.name %> | <%= link_to 'Sign out', session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in with GitHub', '/auth/github' %>
      <% end %>
    </div>
  </header>

  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>

</body>
</html>
